body{
    background-color: rgb(213, 152, 75);
}



.center{
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: -80px;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
background-color: #f1f1f1;
width: 160px;
height: 800px;
padding-top: 100px;
margin-left: -20px;
position: fixed;
}

 a {
    display: block;
  color: #000;
    padding: 15px;
    padding-top: -10px;
margin-bottom: -40px;
margin-top: 50px;
padding-bottom: 10px;
    text-decoration: none;
}
.sub{
   margin-bottom: -50px;
 margin-top: 670px;
margin-left: 156px;
  padding-bottom: 71px;
text-align: center;
}
.coffee{
margin-left: 140px;
position:100px;
}